/* Common styles for text alignment and font family */
h1, header > div, .container, h2, h3, h4, h5, p, footer {
    text-align: center;
    font-family: 'Trirong', serif;
}

/* Common styles for anchor tags */
a {
    text-decoration: none;
    color: #000000;
}

/* Navigation menu styles */
header > div {
    width: 100%;
    background-color: #95a5a6;
    overflow: auto;
    font-weight: 300;
}

header > div a {
    float: left;
    padding: 12px;
    color: #000000;
    text-decoration: none;
    width: 22.8%;
}

header > div a:hover {
    background-color: #a5babb;
}

a.active {
    background-color: #667e8e;
}


/* Main content area styles */
main {
    width: 60%;
    margin: 0 auto; /* Center the main content */
}

/* Additional styles */
.web {
    text-decoration: underline;
}

main > div > p:first-child {
    font-size: 19px;
}

#renard {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.corbeau {
    text-align: center;
    font-style: italic;
}

.signature {
    font-style: italic;
}

/* Container Styles */
main > div {
    background-color: #f0f0f0;
    max-width: 850px;
    margin: 10px auto; /* Center the container and add top/bottom margin */
    padding: 10px;
    border-radius: 50px;
}

main p:nth-child(2) a {
  text-decoration: underline;
}


/* Header */
header {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

/* Footer navigation bar styles */
footer {
  background-color: #95a5a6;
  text-decoration: none; 
  overflow: auto;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
}