/* Style the navigation menu */

h1{
    text-align: center;
}
body{
    background-color: #F8F8F8; /*F8F8F8*/
}

.navbar {
    width: 100%;
    background-color: #95a5a6 ;/* 95a5a6*/
    overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: #000000;
    text-decoration: none;
    font-size: 19px;
    width: 22.8%; /* Four equal-width links */
    text-align: center; 
  }
  
  /* Add a background color on mouse-over */ 
  .navbar a:hover {
    background-color: #a5babb;
    
  }
  
  /* Style the current/active link */
a.active {
    background-color: #667e8e;
  }

a {
    text-decoration: none;
    color: #000000;
    
  }  
  
/* bottom navigation bar with my links */
.navbar-footer {
    
    background-color: #95a5a6 ;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 96.8%;  
    text-decoration: none;
    text-align: center; 
    padding: 0px 15px ; 
    overflow: auto;
    
  }

 
  main {
    width: 60%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the main content */
}
  
  